body{
    margin:10% 10% 10% 10%;
    text-align: center;
    color:greenyellow;

    background-image: url(/images/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/fondo.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.8; 
    filter: brightness(0.1); 
    z-index: -1; 
    
}

h1{
    color:#F39C12 ;
}

h2{
    color:#4CBD49;
}

h3{
    color:#F4D03F;
}
p{
    color:white;
}

img{
    border: 2px solid white; 
    border-radius: 5%;
}

a{
    color: white;
    align-items: end;
    font-size: 25px;
    margin-bottom: 2%;
    text-decoration: none;
}

a:hover{
    font-size: 28px;  
}

.final-nav{
    margin: 5% 0% 3% 0% ;
    display: flex;
    justify-content: space-around !important;
    
}

.pseudo{
    border: 2px solid white; 
    border-radius: 5%;
    margin: 2% 30% 0 30%;
}

.pseudo:hover{
    color: purple ;
}

.especificidad{
    max-width: 80vw;
}

.prueba{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: orange;
    align-self: center;
    color: black;
}

.item  {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 2% 2% 2% 2%;
    align-self: center;
    color: white;
}

.item-2  {
    display: inline-block;
    width: 20%;
    height: 20%;
    background-color: blue;
    margin: 2% 2% 2% 2%;
    align-self: center;
    color: white;
}
p span{
    font-size: 150%;
    color:red;
}

strong{
    color: #4CBD49;
}

.texto{
    color:blueviolet;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 8;
    font-weight: 400;
     
}
  
.font-stretch-ultra-condensed {
    font-family: "Arial", sans-serif;
    font-stretch: ultra-condensed;
  }
  .font-stretch-extra-condensed {
    font-family: "Arial", sans-serif;
    font-stretch: extra-condensed;
  }
  .font-stretch-condensed {
    font-family: "Arial", sans-serif;
    font-stretch: condensed;
  }
  .font-stretch-semi-condensed {
    font-family: "Arial", sans-serif;
    font-stretch: semi-condensed;
  }
  .font-stretch-normal {
    font-family: "Arial", sans-serif;
    font-stretch: normal;
  }
  .font-stretch-semi-expanded {
    font-family: "Arial", sans-serif;
    font-stretch: semi-expanded;
  }
  .font-stretch-expanded {
    font-family: "Arial", sans-serif;
    font-stretch: expanded;
  }
  .font-stretch-extra-expanded {
    font-family: "Arial", sans-serif;
    font-stretch: extra-expanded;
  }
  .font-stretch-ultra-expanded {
    font-family: "Arial", sans-serif;
    font-stretch: ultra-expanded;
  }

.p-ejemplo{
    font-family: "Jockey One", sans-serif;
    /* esta clase solo se uso para dar el ejemplo de uso de fonts con google en la pagina 5 index5 */
}

